/__pycache__
/_SC4MP*
/_Server*
/_DMR
/builds
/core/dummy
/dbpf
/dist32
/dist64
/logs
dbpf.py.old
testing.py
test_console.py
spawn_test_servers.py
*.bat
*.cfg
*/__pycache__
*.bak
*.log
*.sc4
clear_logfiles.py
